body { 
    background-color: lightgrey; 
}
.output {
    width: 100%;
    padding-left: 4px;
    color: black;
    background-color: white;
}
#output {
    height: 40em;
    overflow-y: scroll;
}
#details {
    font-family: monospace;
}
.otable {
    table-layout: fixed;
}
#input {
    width: 98%;
    padding: 1%;
    color: black;
}

.table {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
    width: 100%;
}

.tcp {
    background-color: #E7E5FF;
}
[class*="active"] {
    background-color: #43ace8;
}
.udp {
    background-color: #70DFFF;
}
.http {
    background-color: #8CFF7F;
}
.arp {
    background-color: #D6E7FF;
}
.icmp {
    background-color: #C1C2FF;
}
.eth {
    background-color: white;
}

.conn {
    background-color: #5ece32;
}
.disconn {
    background-color: #ac0000;
}

.col5 {
    float: left;
    display: table-column;
    width: 5%;
}
.col10 {
    float: left;
    display: table-column;
    width: 10%;
}
.col20 {
    float: left;
    display: table-column;
    width: 20%;
}
.col30 {
    float: left;
    display: table-column;
    width: 30%;
}
.col50 {
    float: left;
    display: table-column;
    width: 50%;
}

button > img {
    width: 6em;
    height: 6em;
}