html {
    height: 100%; /* specify height so children can do the same */
    font-family: "Times New Roman", serif;
    font-size: 1.2vw;
}
body { 
    background-color: #79b0e8; 
    padding: 0.5%;
    padding-bottom: 0;
    height: 97%; /* as with html tag, but use less to avoid scroll bar */
}
.hidden {
    display: none;
}
.follow { /* explicitly specify for 'empty' links */
    color: #4b6983;  
    font-weight: bold;
}
.follow:hover { /* explicitly specify for 'empty' links */
    text-decoration: underline;
    cursor: pointer;
}
.tableheader {  
    background-color: white;
    width: 100%;
    height: 3%;
    color: black;
    overflow: hidden;
    font-weight: bold;
    margin-bottom: 0.4%;
}
.overflow-y {
    overflow-y: scroll;
}
.hidescrollbar {
    position: absolute;
    background-color: white;
    width: 3%;
    height: 100%;
    top: 0%;
    right: 0%;
    z-index: 1;
}

.relpos {
    position: relative;
}
#pktview {
    height: 88%;
}
#connview {
    height: 88%;
}
.output {
    width: 100%;
    margin-bottom: 0.4%;    
    color: black;
    background-color: white;
    height: 100%;
    overflow-y: scroll;
}
.details {
    width: 100%;
    height: 50%;
    margin-bottom: 0.4%;
    background-color: white;
    overflow-y: scroll;
}
#input {
    width: 100%;
    color: black;
    height: 6.5%;
    margin-bottom: 0.4%;
    overflow: hidden; /* prevent this div from 'destroying' the whole layout */
}
.table {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.gray {
    color: gray;
}

.TCP {
    background-color: #e7e6ff;
}
.UDP {
    background-color: #daeeff;
}
.HTTP {
    background-color: #e4ffc7;
}
.ARP {
    background-color: #faf0d7;
}
.ICMP {
    background-color: #fce0ff;
}
.Ethernet {
    background-color: white;
}
.MPD {
    background-color: #ffe7d6;
}
.selected {
    background-color: #4b6983;
    color: white;
}

.col {
    float: left;
    display: table-column;
    overflow: hidden;
    padding-left: 0.4%;
    box-sizing: border-box;
}

.\35 p  { width: 5%;}
.\31 0p { width: 10%;}
.\31 5p { width: 15%;}
.\32 0p { width: 20%;}
.\32 5p { width: 25%;}
.\33 0p { width: 30%;}
.\34 0p { width: 40%;}
.\35 0p { width: 50%;}

.button {
    width: 3%;
    margin-right: 0.3%;
    margin-bottom: 0.3%;
    background-color: white;
    border-radius: 17%;    
    box-shadow: 0.15em 0.15em 0.3em 0em black;
    float: left;
}
.button:active {
    position: relative;
    top: 3.3%;
    left: 0.2%;
}

.button img {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
.glow {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0s, 0.3s;
}
.glow:hover {
    opacity: 0.8;
}

input[type="checkbox"] + label {
    font-weight: bold;
    margin: 2px;
}

.dropdown {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(img/arrow-right.svgz) left top no-repeat;
    background-size: 19px 19px;
    cursor: pointer;
}

.dropdown:hover {
    opacity: 0.5;
}

.clicked {
    background: url(img/arrow-down.svgz) left top no-repeat;
    background-size: 19px 19px;
}

input[type="checkbox"]:checked + label .dropdown {
    background: url(img/arrow-down.svgz) left top no-repeat;
    background-size: 19px 19px;
}

input[type="checkbox"] {
    display: none;
}

.hidebox {
    width: 0;
    height: 0;
    overflow: hidden;
}

.details input[type="checkbox"] ~ div {
    display: none;
    margin-left: 24px;
}

.details input[type="checkbox"]:checked ~ div {
    display: block; 
}

.button input[type="checkbox"] + div {
    position: absolute;
    top: 2%;
    right: 4%;
    width: 10%;
    height: 10%;
    background-color: #ff0000;
    border: 1px solid;
    transition-property: background-color;
    transition-duration: 0s, 0.5s;
    border-radius: 50%;
}

.button input[type="checkbox"]:checked + div {
    background-color: #00ff00;
}

.w3cicon {
    border: 0;
    width: 5%;
    float: right;
}

.tr {
    text-align: right;
}

.borderbottom {
    border-bottom: 1px solid gray;
}
