/******************************************************************************
 * styling of html objects                                                    *
 ******************************************************************************/
html {
    height: 100%; /* specify height so children can do the same */
    width: 100%;
}
body { 
    background-color: #006ab3; /* blue-ish, old color: #79b0e8 */
    height: 98%; /* as with html tag but less to avoid scrolling */
    padding: 0.1%;
    font-family: "Dejavu Sans", sans-serif;
    /*font-family: "DejaVu Sans Mono", monospace;*/
    font-size: 0.9vw;
    overflow-y: hidden;
}



/******************************************************************************
 * primary objects, i.e. the basic layout                                     *
 ******************************************************************************/
#input { /* this div holds all the buttons */
    width: 100%;
    height: 4.5%; /* fixed height for now */
    color: white; /* white on blue */
    font-weight: bold;
    margin-bottom: 0.4%;
    overflow: hidden; /* prevent this div from 'destroying' the whole layout */
}
#tableheader {  
    width: 100%;
    height: auto; /* might be fixed at some point */
    color: white; /* white on blue */
    font-weight: bold;
    margin-bottom: 0.2%;
}
#output { /* this holds the table where packets are displayed */
    width: 100%;
    margin-bottom: 0.3%;   
    color: black;
    background-color: white;
    height: 50%;
    overflow: hidden;
    float: left;
}
#details { /* this holds details for selected packets */
    width: 49.6%;
    height: 35%;
    padding: 0.2%;
    background-color: white;
    float: left;
    overflow: scroll;
    white-space: pre; /* want to display spaces, tabs etc */    
}
#raw { /* this shows the selected packet in hex and ascii */
    width: 49.6%;
    height: 35%;
    padding: 0.2%;
    background-color: white;
    float: left;
    overflow: scroll;
    white-space: pre; /* want to display spaces, tabs etc */    
}



/******************************************************************************
 * everything table related                                                   *
 * table-styled div's are used as they appear to perform slightly better      *
 ******************************************************************************/
.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.row {
    display: table-row;
    width: 100%;
}
/* some 'row styles'; these are the same colors as used by wireshark */
.TCP       { background-color: #e7e6ff;}
.SYNFIN    { background-color: #a0a0a0;}
.RST       { background-color: #a40000;
             color: #fffc9c;}
.UDP       { background-color: #daeeff;}
.DNS       { background-color: #daeeff;}
.HTTP      { background-color: #e4ffc7;}
.ARP       { background-color: #faf0d7;}
.ICMP      { background-color: #fce0ff;}
.Ethernet  { background-color: white;}
.MPD       { background-color: #ffe7d6;} /* custom, not from wireshark */
.malformed { background-color: #12272e;
             color: #f78787;} /* malformed packet, wrong checksum etc */
.selected  { background-color: #4b6983;
             color: white;}

.col {
    float: left;
    display: table-column;
    overflow: hidden; /* so everything stays on one line */
    white-space: pre;
    padding-right: 0.6%; /* leave some space for readability */
}
/* some fixed widths for columns; the \3 is for escaping the preceding nums */
.\31 p  { width: 0.4%;}
.\32 p  { width: 1.4%;}
.\35 p  { width: 4.4%;}
.\38 p  { width: 7.4%;}
.\39 p  { width: 8.4%;}
.\31 0p { width: 9.4%;}
.\31 5p { width: 14.4%;}
.\32 0p { width: 19.4%;}
.\32 5p { width: 24.4%;}
.\33 0p { width: 29.4%;}
.\34 0p { width: 39.4%;}
.\35 0p { width: 49.4%;}



/******************************************************************************
 * everything input/output related, so mostly button styles                   *
 ******************************************************************************/
.button {
    position: relative; /* so we can visually click the button */
    width: 2%; /* dimensions purely based on trial on error */
    margin-right: 0.4%;
    background-color: white;
    border-radius: 17%;    
    /* % does not work nicely for shadows, but rem will be relative.. */
    box-shadow: 0.15rem 0.15rem 0.3rem 0rem black;
    float: left; /* line 'em up */
}
.button:active {    
    top: 3.3%; /* move the button a bit so it looks like it's clicked */
    left: 0.2%;
}

.buttonicon {
    width: 100%; /* we're mostly using svg's, so this is crucial */
    float: left; /* fit it in nicely */
}

.w3cicon { /* a different kind of button, actually a link */
    border: 0;
    width: 5%;
    float: right; /* line 'em up on the other side */
}

.glow { /* just a nice effect to highlight things when hovered */
    opacity: 1;
/*    transition-property: opacity; */
/*    transition-duration: 0s, 0.3s; */
}
.glow:hover { /* make it a bit more opaque; works best with white background */
    opacity: 0.6;
}

.dropdown { /* this is the little triangle you hit to 'show me more' */
    width: 1em; /* font size */
    height: 1em;
    margin-right: 0.2em;
    background: url(img/arrow-right.svgz);
    background-size: 1em 1em;
    cursor: pointer;
    float: left;
}
/* the dropdown icon usually comes with a checkbox to hide and show stuff */
input[type="checkbox"]:checked + label .dropdown {
    background: url(img/arrow-down.svgz);
    background-size: 1em 1em;
}
.clicked { /* this is for javascript triggered hide/show */
    background: url(img/arrow-down.svgz);
    background-size: 1em 1em;
}

input[type="checkbox"] { /* checkboxes are only used for hide/show of divs */
    display: none;
}
input[type="checkbox"] + label { /* always highlight corresponding labels */
    font-weight: bold;
}
input[type="checkbox"] ~ div { /* here's the trick; not clicked, don't show */
    display: none;    
}
input[type="checkbox"]:checked ~ div { /* if clicked: show */
    display: block;
    margin-left: 1.2em; /* dropdown size + margin */
}

/* this is the custom context menu that'll show up for packages/rows */
#contextmenu {
    width: auto;
    position: absolute; /* will be moved around by javascript */
    z-index: 1; /* keep this above everything else */
    padding: 0.1%;
    background-color: white; /* suits the blue and white style */
    /* % does not work nicely for shadows, but rem will be relative.. */
    box-shadow: 0.15rem 0.15rem 0.3rem 0rem black;    
    font-size: 0.8rem; /* a bit smaller than usual text */
}
/* this is the style for entries of the context menu */
.contextentry {
    white-space: nowrap; /* keep entries on one line */
    padding: 0.2%;
    font-weight: 600; /* looks a bit better for small font */
}
.contextentry:hover {
    background-color: #006ab3;
    color: white;
}



/******************************************************************************
 * everything 'self-made scrollbar' related                                   *
 ******************************************************************************/
#scrollbar { /* this is the root container for everything... */
    position: absolute;
    width: 15px; /* taken from chromium, might want to change this */
}

#scrollbar-track { /* this is the dark-gray background box for the scrollbar */
    position: absolute;
    top: 15px; /* leave space for the scrollup icon */
    width: 13px;
    height: 100%; /* will be 100% - 30px via javascript */
    background-color: #d3d3d3; /* chromium colors */
    border-left: 1px solid #adadad; /* dark gray border */
    border-right: 1px solid #adadad;
    overflow: hidden; /* don't show messed up scrollbars ;-) */
}

#scroll-thumb { /* this is the draggable thumb */
    position: absolute;
    width: 13px; /* no need to redraw borders from scrollbox */
    /* chromium's scrollbar is styled as follows */
    background: url('img/scroll-thumb-center.png'), 
                url('img/scroll-thumb.png');
    background-position: center center, left top;
    background-repeat: no-repeat, repeat;
    border-top: 1px solid #adadad; /* dark gray border */
    border-bottom: 1px solid #adadad;
}
#scroll-thumb:hover { /* brighten on hover */
    background: url('img/scroll-thumb-center.png'), 
                url('img/scroll-thumb-hover.png');
    background-position: center center, left top;
    background-repeat: no-repeat, repeat;
}
#scroll-thumb:active { /* and darken again when clicked */
    background: url('img/scroll-thumb-center.png'), 
                url('img/scroll-thumb.png');
    background-position: center center, left top;
    background-repeat: no-repeat, repeat;
}

.scrollbar-button-up { /* the upper button to scroll up a bit (upwards triangle) */
    position: absolute;
    top: 0; /* always stay at the top */
    width: 15px;
    height: 15px;
    background: url(img/scroll-up.png); /* chromium's graphics */
}
.scrollbar-button-up:active { /* darken when clicked */
    background: url(img/scroll-up-active.png);
}
.scrollbar-button-up-inactive { /* and gray out when no scrolling possible */
    position: absolute;
    top: 0;
    width: 15px;
    height: 15px;
    background: url(img/scroll-up-inactive.png);
}

.scrollbar-button-down { /* the same as scrollup... */
    position: absolute;
    bottom: 0; /* always stay at the bottom */
    width: 15px;
    height: 15px;
    background: url(img/scroll-down.png);
}
.scrollbar-button-down:active {
    background: url(img/scroll-down-active.png);
}
.scrollbar-button-down-inactive {
    position: absolute;
    bottom: 0;
    width: 15px;
    height: 15px;
    background: url(img/scroll-down-inactive.png);
}



/******************************************************************************
 * general display modifiers/keyword                                          *
 ******************************************************************************/
.hidebox { /* nice trick: hide something but let it be 'clickable' */
    width: 0;
    height: 0;
    overflow: hidden;
}

/* these are just here for the sake of avoiding the style='...' within html */
.hidden {display: none;}
.overflow-y {overflow-y: scroll;}
.relpos {position: relative;}
.bold {font-weight: bold;}
.gray {color: gray;}
.tr {text-align: right;}
.mono {font-family: "DejaVu Sans Mono", monospace;}
.fontsized {height: 1rem;}
.defaultcursor {cursor: default;}